body
{
	background-color: #0070cc;
}

#container
{
	width: 600px;
	margin: 100px auto;
	padding: 40px;
}

#container h1
{
	margin: 100px 0;
	text-align: right;
	font-family: "Comfortaa";
	letter-spacing: 5px;
	color: #fff;
}